<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{{pageTitle}}</title>
</head>
<style>
    #default-btn-width {
        width: 100px
    }

    .table {
        table-layout: fixed;
        width: 100%;
    }

    .table th, .table td {
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px;
        text-align: left;
    }

    .table th, .table td {
        width: 20%; /* Adjust based on the number of columns */
    }

    .table td div {
        display: flex;
        justify-content: space-evenly;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/contacts">연락처</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contacts/add">새 연락처</a>
                </li>
            </ul>
            <form method="post" action="/logout">
                <button id="default-btn-width" type="submit" class="btn btn-danger">로그아웃</button>
            </form>
        </div>
    </div>
</nav>